@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- google fonts ---*/

/* Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Poppins', sans-serif; */
.poppins {
  font-family: "Poppins", sans-serif !important;
}

/* Poppins */

/* --- google fonts ---*/

/* custom-svg-color */
.svg-white {
  filter: invert(100%) sepia(100%) saturate(5%) hue-rotate(333deg)
    brightness(102%) contrast(106%) !important;
}
.svg-dark {
  filter: invert(16%) sepia(2%) grayscale(1) saturate(4980%) hue-rotate(180deg)
    brightness(114%) contrast(75%) !important;
  /* filter: grey; */
}
.svg-blue {
  filter: invert(21%) sepia(92%) saturate(4187%) hue-rotate(233deg)
    brightness(96%) contrast(95%) !important;
}

.svg-not-selected {
  filter: invert(63%) sepia(16%) saturate(139%) hue-rotate(178deg)
    brightness(94%) contrast(91%) !important;
}

.svg-selected {
  filter: invert(25%) sepia(14%) saturate(370%) hue-rotate(179deg)
    brightness(89%) contrast(87%) !important;
}

.svg-ellipse-5 {
  filter: invert(24%) sepia(99%) saturate(2637%) hue-rotate(228deg)
    brightness(96%) contrast(108%) !important;
}
.svg-ellipse-6 {
  filter: invert(89%) sepia(30%) saturate(7001%) hue-rotate(320deg)
    brightness(104%) contrast(102%) !important ;
}

.svg-excel {
  filter: invert(65%) sepia(14%) saturate(1619%) hue-rotate(84deg)
    brightness(100%) contrast(94%);
}

.svg-csv {
  filter: invert(84%) sepia(35%) saturate(710%) hue-rotate(29deg)
    brightness(97%) contrast(92%);
}

.svg-red {
  filter: invert(30%) sepia(100%) saturate(6091%) hue-rotate(353deg)
    brightness(92%) contrast(124%);
}

.svg-renal-blue {
  filter: invert(31%) sepia(90%) saturate(5632%) hue-rotate(232deg)
    brightness(102%) contrast(104%);
}

.svg-green {
  filter: invert(63%) sepia(52%) saturate(495%) hue-rotate(84deg)
    brightness(97%) contrast(89%);
}

.svg-gray-2 {
  filter: invert(21%) sepia(17%) saturate(368%) hue-rotate(179deg)
    brightness(94%) contrast(81%);
}

/* custom-svg-color */

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.checkbox::before {
  background-color: #00aeef !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 2px;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
  width: 2px;
}

.custom-scroll-black::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ccc;
  width: 2px;
}

.custom-scroll-black::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #585858;
}

.custom-scroll-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #585858;
  width: 2px;
}